extends layout

block content
  h1= title
  p I AM IRONMAN 
  button(type="button" class="btn btn-primary" onclick="update()") PressMe 
  br

  br
  div(id="target") Display 
   script.
    var client_count=0
    function update(){
     client_count++;
     document.getElementById("target").innerHTML=`value now ${client_count}`
     }
     br
     